table.table-bordered{
    border:1px solid blue!important;
    margin-top:20px !important;
  }
table.table-bordered > thead > tr > th{
    border:1px solid blue !important;
}
table.table-bordered > tbody > tr > td{
    border:1px solid blue !important;
}
